@inherits LayoutComponentBase
@inject IAppVersionService VersionService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
    <div style="width: 100%; z-index: 1500; position: fixed; bottom: 0; height: 32px; text-align: center;">
        <MudDivider />
        <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">
            Version: @VersionService.Version
        </MudText>
    </div>
</MudLayout>